<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Linkr</title>

  <link rel="stylesheet" href="/resource/style.css">

</head>

<body>

  {{> partials/header }}

  <h1>Linkr Dashboard</h1>

  <div id="new">
    <form action="/api/links/new" method="post" autocomplete="off">
      <h2>Create New Links</h2>
      <div>
        <label for="short">this-domain.com/</label>
        <input type="text" id="short" name="short" value="" />
      </div>

      <div>
        <label for="short">original url:</label>
        <input type="text" id="long" name="long" value="http://" />
      </div>

      <div>
        <label for="short">notes:</label>
        <input type="text" id="notes" name="notes" value="" />
      </div>

      <input type="submit" value="Create New" />
    </form>
  </div>

  <div id="manage">
    <h2>Your Links</h2>

    <div id="manage-table">
      {{#if links}}
      <table>
        <thead>
          <tr>
            <th>Short</th>
            <th>Long</th>
            <th>Notes</th>
            <th>Created On</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each links}}
          <tr id="{{short}}-row">
            <td id="{{short}}-short">{{short}}</td>
            <td>
              <a id="{{short}}-long" href="{{long}}" target="_blank">{{long}}</a>
              <button id="{{short}}-update" onclick="updateButtonClicked('{{short}}')">Edit</button>
            </td>
            <td id="{{short}}-notes">{{notes}}</td>
            <td id="{{short}}-at">{{created_at}}</td>
            <td>
              <button id="{{short}}-delete" onclick="removeByShort('{{short}}')">Delete</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <span>No links added</span>
      {{/if}}
    </div>

    <span id="manage-output"> </span>
  </div>

  {{> partials/footer }}

  <script type="text/javascript" src="/resource/links_table.js"></script>
</body>

</html>
