<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Linkr</title>

  <link rel="stylesheet" href="/resource/style.css">
</head>

<body>

  {{> partials/header }}

  <div id="content">
    <h1>Manage Users</h1>

    <form action="/new_user">
      <input type="submit" value="Create New User" />
    </form>

    <div id="manage-table">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Permissions</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr id="{{id}}-row">
            <td id="{{id}}-id">{{id}}</td>
            <td>
              <span id="{{id}}-name">{{username}}</span>
              <button id="{{id}}-update" onclick="updateButtonClicked('{{id}}')">Edit</button>
            </td>
            <td>
              {{#if orig}}
              <p>Original</p>
              {{else}}
              <input type="checkbox" id="{{id}}-permission-links" name="manage_links" value="true"
                onclick="updatePermissions({{id}})" {{#if manage_links}} checked {{/if}}>
              <label for="manage_links">Manage All Links</label><br />

              <input type="checkbox" id="{{id}}-permission-users" name="manage_users" value="true"
                onclick="updatePermissions({{id}})" {{#if manage_users}} checked {{/if}}>
              <label for="manage_users">Manage All Users</label><br />
              {{/if}}
            </td>
            <td>
              {{#if orig}}
              <p>Original</p>
              {{else}}
              <button id="{{id}}-delete" onclick="removeByID('{{id}}')">Delete</button>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <span id="manage-output"> </span>
  </div>

  {{> partials/footer }}
  <script type="text/javascript" src="/resource/users_table.js"></script>
</body>

</html>
